@import "../../styles.scss";

$text-color: rgba(148, 173, 207);
.todoItem {
    margin-bottom: 1.5em;
    @include uncompletedBackground;
    border-radius: 16px;
    word-break: break-word;
    color: $text-color;
    display: flex;
    align-items: center;
    min-height: 2.5em;
    p {
        margin: 0;
        font-weight: 500;
    }
    .completedTask {
        text-decoration: line-through $text-color;
    }

    .checkmark {
        border: 2.4px solid $text-color;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 1em;
    }
    .checkmarkDone {
        background-color: $text-color;
    }
}

.todoItemCompleted {
    @include completedBackgroud;
}
